
body {
   
        display: flex;   
        justify-content: center;
        
        font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
          
            
      
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
p
{text-align:center;
    font-size:;
    max-width: 100%;
    padding:20px;
        margin-top: -50px
    

}
.a1 input, .a1 textarea {
padding: 12px 20px;
margin: 4px 0px;
box-sizing: border-box;
border: 3px solid  #ccc;
}
.a1 input :hover ,
 .a1 textarea :hover {
    border: 3px solid #555;
    transition: .3s;
 }
 .contactus img
 {
background-color:#45624e ;
padding: 5px;
margin:0px 5px ;

max-width:20px ;
 }