
body {
   
        display: flex;   
        justify-content: center
      
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
p
{text-align:center;
    font-size:;
    max-width: 100%;
    padding:20px;
        margin-top: -50px
    

}